<a href="https://colab.research.google.com/github/mz-zarei/Trajectory_Analysis/blob/main/OpenDD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd
import sqlite3

# Read sqlite query results into a pandas DataFrame
dataBase = sqlite3.connect("/content/drive/MyDrive/Colab Notebooks/trajectories_rdb2_v3.sqlite")

# Get all table names
table_names = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", dataBase)
# print(table_names)

# Add all tables into dataframe
df = pd.DataFrame()
for table in table_names.values:
    print('Adding table: ' + table[0])
    df_t = pd.read_sql_query("SELECT * FROM " + table[0], dataBase)
    df = pd.concat([df,df_t])



dataBase.close()

In [33]:
df

            ID   TIMESTAMP  OBJID      UTM_X  ...  CLASS   WIDTH  LENGTH  TRAILER_ID
0            1    0.000000  32874  618112.71  ...    Car  1.7752  4.2944         NaN
1            2    0.033367  32874  618112.97  ...    Car  1.7752  4.2944         NaN
2            3    0.066733  32874  618113.23  ...    Car  1.7752  4.2944         NaN
3            4    0.100100  32874  618113.49  ...    Car  1.7752  4.2944         NaN
4            5    0.133467  32874  618113.74  ...    Car  1.7752  4.2944         NaN
...        ...         ...    ...        ...  ...    ...     ...     ...         ...
135537  135538  561.761200  42243  618061.51  ...    Car  2.0000  4.9429         NaN
135538  135539  561.794567  42243  618061.66  ...    Car  2.0000  4.9429         NaN
135539  135540  561.827933  42243  618061.81  ...    Car  2.0000  4.9429         NaN
135540  135541  561.861300  42243  618061.95  ...    Car  2.0000  4.9429         NaN
135541  135542  561.894667  42243  618062.10  ...    Car  2.0000  4.9429         NaN

[4605738 rows x 14 columns]